.textInfo{
    margin-top: 40vh;
    background-color: white;
    padding: 20px 40px 20px 40px;
    font-size: 1.4rem;
    border-top: 1px solid rgb(15, 4, 161);
    border-bottom: 1px solid rgb(15, 4, 161);

    
}

.company-title{
    margin-top: 50vh;
    margin-left: 5% !important;
    width: 90vw !important;
    text-align: center !important;
    font-size: 2rem;
    color: white;
    padding: 20px;
    background-color: rgb(16, 29, 150);
    border-radius: 10px;
}

.custom-carousel{
    margin-top: 40vh;
    width: 60%;
    height: 100%;
}


.company-full-info{
    margin-top: 30vh;
    margin-left: 20% !important;
    width: 75vw;
    text-align: center;
    margin: 40px;
    z-index: 2;
    padding: 40px;
    color: #fff;
    background-color: #0d09cf;
    font-size: 1.1rem;
    border-radius: 10px;
}


.address{
    margin-top: 20vh;
    top: 290vh;
    padding: 20px 40px 20px 40px !important;
    margin-left: 5%;
    margin-right: 50%;
    border-radius: 10px;
    background-color: rgb(214, 211, 16);
}

.email{
    margin-top: 10vh;
    padding: 20px 40px 20px 40px;
    margin-left: 5%;
    margin-right: 50%;
    border-radius: 10px;
    background-color: rgb(248, 64, 64);
}

.phone{
    margin-top: 10vh;
    padding: 20px 40px 20px 40px;
    margin-left: 5%;
    margin-right: 50%;
    border-radius: 10px;
    background-color: rgb(230, 20, 184);
}

.empty{
    margin-top: 40vh;
    width: 100%;
    height: 200px;
    
}

.jumbotron {
    width: 30wh;
    height: 30vh;
    color: #fff;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    -webkit-animation: Gradient 15s ease infinite;
    -moz-animation: Gradient 15s ease infinite;
    animation: Gradient 15s ease infinite;
}

.company-animation{
    background: linear-gradient(-45deg, #f3eace, #a26be0, #0a348f, #bfe70a);
    background-size: 400% 400%;
    -webkit-animation: Gradient 15s ease infinite;
    -moz-animation: Gradient 15s ease infinite;
    animation: Gradient 15s ease infinite;
}

.custom-home-page{
    
    top: 10vh; 
    left: 0%;
    width: 100vw; 
    height: 100vh;
}

.custom-background-image{
    width: 100vw; 
    height: 100vh; 
    position: fixed;
    top: 0%;
    left: 0%;
    z-index: -10;
}

@media (max-width: 1000px){
.mediaQuery{
    font-size: 0.7em; 
}
}


.slider img {
    height: 65vh;
    width: 20vw;
    object-fit: cover;
}

.custom-font-size-small{
    font-size: 0.7rem;
}

.product-cart-image{
    width: auto;
}

.custom-header{
    width: 100vw;
}
@-webkit-keyframes Gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
 
@-moz-keyframes Gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
 
@keyframes Gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
} 


@media (max-width: 1000px){
    .textInfo{
        font-size: 1.1em; 
    }
    }


.backImageFonts{
    font-family: 'Dancing Script', cursive;
}

.home-page-optional-text{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    font-size: 1rem;
}

.homePageFonts{
    font-size: 0.9rem;
}



.company-contacts{
    list-style: none; 
    background: white;
    padding: 10px;
    width: 25vw;
    margin: 1vw; 
    border-radius: 10px;
}

@media(max-width: 950px){
    .custom-carousel{
        width: 80%;
    }
    .company-full-info{
        left: 0% !important;
        width: 90vw !important;
    }
}


@media (max-width: 900px){
.homePageFonts{
        font-size: 0.7rem;
    }
}

.slider1{
    position: relative;
    top: 0%;
    left: 10%;
    width: 60%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image{
    top: 0%;
    width: 100%;
    border-radius: 15px;
}

